.new-item {
    position:sticky;
    transform: translateY(40px);
    top: 100%;
    left: 43.5%;
    margin: 0px auto;
    color: blue;
    width: 10rem;
    height: 3rem;
    outline: 1px solid rgb(247, 178, 247);
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;

    & span {
        font-size: 20px;
        font-weight: 600;
    }
    
}

@media (min-width: 0px) {
    .new-item {
        left: 35%
    }
}

@media (min-width: 670px) {
    .new-item {
        left: 40.5%;
    }
}

@media (min-width: 1048px) {
    .new-item{
    left: 43.5%;
    }
}

@media (min-width: 1300px) {
    .new-item {
        left: 43.5%;
    }
}