.menu-bar {
    margin: 5% auto 10px;
    width: 40%;
    background-color: rgb(247, 178, 247);
    border-radius: 5px;

    &.opaq {
        opacity: .2;
    }

    & .nav-bar{
        display: flex;
        justify-content: space-evenly;

        & div {
            transform: translateY(20px) translateX(-10px);
            font-size: 2rem;
            cursor: pointer;
        }

        & h2 {
            cursor: pointer;
        }
    }


}



