.menu-popup {
    // display: none;
    position:fixed;
    transform: translateY(-30px);
    top: 0%;
    left: 30%;
    margin: 0px auto;
    width: 37%;
    height: 3rem;
    padding: 20px;
    background-color: rgb(247, 238, 238);
    outline: 1px solid rgb(247, 178, 247);
    border-radius: 10px;
    opacity: 0;


    &.active {
        opacity: 1;
        animation: dis .3s linear;

        @keyframes dis {
            0% {
                opacity: 0;
                transform: translateY(-30px);
            }

            25% {
                opacity: .25;
                transform: translateY(-15px);
            }

            50% {
                opacity: .50;
                transform: translateY(0px);
            }

            75% {
                opacity: .75;
                transform: translateY(15px);
            }

            100% {
                opacity: 1;
                transform: translateY(30px);
            }
        }

        & .inside {
            display: flex;
            justify-content: space-evenly;
        }

        & .x-btn {
            opacity: 0.3;
            transform: translateY(1rem);
            width: 2rem;
            border-radius: 20px;
            transition: opacity .3s ease;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }
    }

    & .menu-popup-content {
        transform: translateY(1rem);

        & .title-input {
            width: 20rem;
            height: 2rem;
            margin: 0px auto;
            font-size: 20px;
            border-radius: 10px;
            outline: none;
        }

        & .add-title {
            color: blue;
            width: 4rem;
            height: 2.3rem;
            margin-left: 8px;
            border: none .5px solid;
            border-radius: 10px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

@media (min-width: 0px) {
    .menu-popup {
        position: fixed;
        transform: translateY(-30px);
        top: 0%;
        left: 0%;
        width: 95%;
    }
}

@media (min-width: 670px) {
    .menu-popup {
        position: fixed;
        transform: translateY(-30px);
        top: 0%;
        left: 15%;
        width: 68%
    }
}

@media (min-width: 1048px) {
    .menu-popup {
        position: fixed;
        transform: translateY(-30px);
        top: 0%;
        left: 25%;
        width: 50%;
    }
}

@media (min-width: 1300px) {
    .menu-popup {
        position: fixed;
        transform: translateY(-30px);
        top: 0%;
        left: 30%;
        width: 38%;
    }
}