.main-area {
    margin: 15px auto 10px;
    width: 38%;
    background-color: rgb(247, 238, 238);
    outline: 1px solid rgb(247, 178, 247);
    border-radius: 5px;
    padding: 1rem;
    line-height: 2rem;
    overflow: visible;

    &.opaq {
        opacity: .2;
    }

    & ul {
        list-style: none;
        animation: dis 5s ease-in;
        
            @keyframes dis {
                0% {
                    opacity: 0;
                }
        
                25% {
                    opacity: .40;
                }
        
                75% {
                    opacity: .70;
                }
        
                100% {
                    opacity: 1;
                }
            }

        & .item {
            font-size: larger;
            font-weight: 500;
            display: flex;
            justify-content: space-between;

            &span {
                flex-basis: 500px;
            }
            & .trash-can {
                transform: translateY(3px);
                cursor: pointer;
                font-size: 25px;
            }
        }
    }
}

@media (min-width: 0px) {
    .main-area {
        width: 90%;
    }
}

@media (min-width: 650px) {
    .main-area {
        width: 65%;
    }
}

@media (min-width: 978px) {
    .main-area {
        width: 47%;
    }
}

@media (min-width: 1300px) {
    .main-area {
        width: 38%;
    }
}


// On checking I could see two installations for the same subdomain and this will results in conflicts:
//                         https://www.namecheap.com/support/knowledgebase/article.aspx/10255/2255/video-how-to-remove-an-installation-via-softaculous/?_ga=2.134200140.391881409.1694061903-583142592.1694061903

//                         Yes, we can but please make sure that you have the correct WordPress installation and if possible please create a backup of the installation:
//                         https://www.namecheap.com/support/knowledgebase/article.aspx/1258/2182/how-to-work-with-scripts-in-softaculous/?_ga=2.2940658.391881409.1694061903-583142592.1694061903#backup