.popup {
    display: none;
    position: relative;
    transform: translateY(-30px);
    top: 60%;
    left: 0%;
    margin: 0px auto;
    // width: 10rem;
    height: 3rem;
    border: none .5px solid;
    border-radius: 10px;
    transition: display 10s ease-in;

    &.active {
        display: block;
        animation: dis .5s ease-in;

        @keyframes dis {
            0% {
                opacity: 0;
            }
            25% {
                opacity: .40;
            }
            75% {
                opacity: .70;
            }
            100% {
                opacity: 1;
            }


        }

        &.active:active {
            transition: all 5s ease-in;
        }

        & .x-btn {
            opacity: 0.3;
            transform: translateY(25px) translateX(15px);
            border-radius: 20px;
            transition: opacity .3s ease;

            &:hover {
                opacity: .8;
            }
        }    }

    & .popup-content{
        display: flex;
        justify-content: space-between;
        & input {
            width: 22rem;
            height: 2rem;
            margin: 0px auto;
            font-size: 20px;
            transform: translateY(2rem);
            border-radius: 10px;
            outline: none;
        }

        & .add-item {
            transform: translateY(2.2rem);
            color: blue;
            width: 8rem;
            height: 2rem;
            border: none .5px solid;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

 